aside {
  position: absolute;
  right: 2rem;
  top: calc(50%);


  flex-direction: column;
  align-items: end;

  & img {
    width: 1.4rem;
    filter: invert();
    transition: scale 100ms ease;

    &:hover {
      scale: 1.25;
    }
  }
}