*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

* {
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --bg-color: #0F3557;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-primary: #f4f4f5;
  --text-color-secondary: #a1a1aa;
  --brand-color-primary: #0F3557;
  --brand-color-secondary: #B9B7AB;

  --ff-sans: "Lato", sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 3rem;

  --px-lg: 1.5rem;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font: var(--fw-base) var(--fs-base)/1.5 var(--ff-sans);
  color: var(--text-color-primary);
  background: url(../assets/galpao.jpeg) center/cover no-repeat;
  background-attachment: fixed;
  max-width: 100vw;
}

h2 {
  font: var(--fw-bold) var(--fs-xl)/1.25 var(--ff-sans)
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: inline-block;
}

span {
  font-size: var(--fs-base);
}

@media (min-width: 48em) {
  :root {
    --fs-sm: 1rem;
    --fs-base: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-2xl: 4rem;

    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 5rem;

    --px-lg: 2rem;
  }
}